*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
.text1{
    background-color:#085070;
    color: white;

}
.bbb{
    font-size: 65px;
}
.missing{
    background-color: red;
    font-size: 27px;
}
@media (min-width:1200px) {
   .new{
    background-color: black;
  } 
}
